<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>NHẬP THÔNG TIN MỚI</h1>
<form action="/update" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    Name:
    <input type="text" th:field="*{name}"/>
    <br>
    Price:
    <input type="number" th:field="*{price}"/>
    <br/>
    Description:
    <input type="text" th:field="*{description}"/>
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>